<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/1a7d8e05-f12d-46b1-afb3-8d3cf7cc897f/resourcegroups/CMPG_323_Project_2-35383615/providers/Microsoft.Web/sites/connectedOffice-api</ResourceId>
    <ResourceGroup>CMPG_323_Project_2-35383615</ResourceGroup>
    <ApiResourceId>/subscriptions/1a7d8e05-f12d-46b1-afb3-8d3cf7cc897f/resourceGroups/CMPG_323_Project_2-35383615/providers/Microsoft.ApiManagement/service/apim-proj2-35383615/apis/connectedoffice</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://connectedoffice-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>8bc17731-00c8-4cd8-b37b-5b4c8bfb4264</ProjectGuid>
    <MSDeployServiceURL>connectedoffice-api.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>connectedOffice-api</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$connectedOffice-api</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>